<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<!--Title, Styling and Javascript-->
		<title>Add Rule</title>
		<script type= "text/javascript" src="{{ url_for('static', filename='myscript.js') }}"></script>
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<script src="{{ url_for('static', filename='jquery-3.1.0.min.js')}}"></script>
		<link rel="icon" type="image/png" href="../static/atmiyaicon.png">
    </head>

	<body>
		<div id="header">
			<!--Adds the header to the document-->
			{% include 'header.html' %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {%- for message in messages %}
			            {% if message == "Your fine payment has been recieved" %}
				        <div  class="alert alert-info"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				            {{ message }}
				        </div>
			            {% else %}
			                <div class="alert alert-danger" > <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block body %} {% endblock %}
        </div>

		<div id="divformregister" >
			<form name="update" id="form1update" method="POST" action="">
				<div id="signform">
                    {% if errors %}
					    <div class="alert alert-danger">
						    {{ errors }}
					    </div>
					{% endif %}
					<h2> Add Rule </h2>
					<br />
                    {% if errors %}
					    <div class="alert alert-danger">
						    {{ errors }}
					    </div>
					{% endif %}

						<h4>Rule Title:</h4>
						<input type="text" name="title" maxlength="30" >
		
						<h4>Rule Description:</h4>
                        <!DOCTYPE html>
                                <head>
                                    <script src="http://code.jquery.com/jquery-1.5.js"></script>
                                    <script>
                                        function countChar(val) {
                                            var len = val.value.length;
                                            if (len >= 1000) {
                                                val.value = val.value.substring(0, 1000);
                                                $('#charNum').text('You have reached the limit.');
                                            } else {
                                                $('#charNum').text(1000 - len + ' characters remaining.');
                                            }
                                        }
                                    </script>
                                </head>

                                <body>
                                <textarea id = "field" rows = "10" cols = "50"  maxlength = "1000" onkeyup = "countChar(this)" name = "description"></textarea>
                                <div id = "charNum"></div>
                                </body>
						<br />
						<br />
						<input type="Submit" name="Submit1" value="Submit">
                </div>
            </form>
		</div>
		<div class="push"></div> <!--keeps footer at the bottom -->
		<footer>
			<!--Adds the footer to the document-->
			{% include 'footer.html' %}
		</footer>
	</body>
</html>