<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<!--Title and Styling-->
		<title>Profile</title>
		<script type= "text/javascript" src="../static/myscript.js"></script>
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link rel="icon" type="image/png" href="../static/atmiyaicon.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div id="header">
			<!--Adds the header to the document-->
			{% include 'header.html' %}
					 <!-- Display flashed messages -->
      {% with messages = get_flashed_messages() %}
            {% if messages %}
                {%- for message in messages %}
			        {% if message == "Your fine payment has been recieved" %}
				        <div class="alert alert-info"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				            {{ message }}
				        </div>
			        {% else %}
			        <div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
			        {% endif %}
                {% endfor %}
            {% endif %}
      {% endwith %}
      {% block body %} {% endblock %}
        </div>

		<div class="wrapper">
			<div id="Content" class="profileImage">
				<div id="profileContent">
					<h1 align="center">{{profile['Name']}}</h1>
					<div>
						<h2 style="margin-left:30px">Parking Permit</h2>
						{% if profile['Permit'] == [] %}
						    <p style="margin-left: 5%;">No parking permit</p>
						    <h3 align="center"><a href = "{{url_for('application')}}"><button type="submit" name="Update" value="go to apply permit">Apply for Permit</button></a></h3>
						    {% else %}
                                <table>
                                    <tr>
                                        <td><Strong>Duration:</Strong></td>
                                        <td>{{profile['Permit']['Permit_Duration']}}</td>
                                    </tr>
                                    <tr>
                                        <td><Strong>Starts:</Strong></td>
                                        <td>{{profile['Permit']['Permit_Start']}}</td>
                                    </tr>
                                    <tr>
                                        <td><Strong>Ends:</Strong></td>
                                        <td>{{profile['Permit']['Permit_End']}}</td>
                                    </tr>
                                    <tr>
                                        <td><Strong>Vehicle Type:</Strong></td>
                                        <td>{{profile['Permit']['Vehicle_Type']}}</td>
                                    </tr>
                                    <tr>
                                        <td><Strong>Department:</Strong></td>
                                        <td>{{profile['Permit']['Department']}}</td>
                                    </tr>
                                    <tr>
                                        <td><Strong>Approved:</Strong></td>
                                        <td>{{profile['Permit']['Approved']}}</td>
                                    </tr>
                                </table>
						    <h3 align="center"><a href="/updateApp"><button type="submit" name="Update" value="go to apply permit">Update Permit</button></a></h3>
						{% endif %}

                        <h2 style="margin-left:30px">Parking Violations</h2>
						{% if profile['ParkingVil'] == [] %}
						    <p style="margin-left: 5%;">No parking violations</p>
						{% else %}
                            <table class ="parkingTable">
							<tr>
								<th style="width:120px">Date</th>
								<th style="width:120px">Time</th>
								<th style="width:120px">Description</th>
								<th style="width:120px">Vehicle Type</th>
								<th style="width:120px">Vehicle License number</th>
								<th></th>
							</tr>
							{% for entry in profile['ParkingVil'] %}
                                <tr>
                                    <td>{{entry['Date']}}</td>
                                    <td>{{entry['Time']}}</td>
                                    <td>{{entry['Description']}}</td>
                                    <td>{{entry['Vehicle_Type']}}</td>
                                    <td>{{entry['Vehicle_License_number']}}</td>
                                    <td><a href="/paymentform/{{entry['Fine_Number']}}" style="color: inherit; text-decoration: inherit;"><button type="submit" class="btn">Pay Fine</button></a></td>
                                </tr>
							{% endfor %}
						    </table>
						{% endif %}

                        <h2 style="margin-left:30px">Other Violations</h2>
						{% if profile['OtherVil'] == [] %}
							<p style="margin-left: 5%;">No other violations</p>
						{% else %}
                            <table class = "otherTable">
							<tr>
								<th style="width:140px">Type</th>
								<th style="width:140px">Date</th>
								<th style="width:140px">Time</th>
								<th style="width:140px">Location</th>
								<th style="width:140px">Supervisor</th>
								<th></th>
							</tr>
							{% for entry in profile['OtherVil'] %}
							    <tr>
								<td>{{entry['Violation_Type']}}</td>
								<td>{{entry['Date']}}</td>
								<td>{{entry['Time']}}</td>
								<td>{{entry['Place_in_campus']}}</td>
								<td>{{entry['Supervisor']}}</td>
								<td><a href="/paymentform/{{entry['Fine_Number']}}" style="color: inherit; text-decoration: inherit;"><button type="submit" class="btn">Pay Fine</button></a></td>
								</td>
							    </tr>
							{% endfor %}
						    </table>
						{% endif %}
					</br>
					</br>
					</br>

                        <h3>Found a safety issue on campus? <a href="/health/">Click here to report it</a></h3>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<!--Adds the footer to the document-->
			{% include 'footer.html' %}
		</footer>
	</body>
</html>
