<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <!--Title, Styling and Javascript-->
        <title>Report Violation</title>
        <script type="text/javascript" src="{{ url_for('static', filename='myscript.js') }}"></script>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
        <link rel="icon" type="image/png" href="../static/atmiyaicon.png">
        <script type="text/javascript">
            $(document).ready(function () {
                //$("#hideForm").show();
                $(".boxItem").change(function () {
                    var selectedValue = parseInt(jQuery(this).val());
                    //Depend on Value i.e. 0 or 1 respective function gets called.
                    switch (selectedValue) {
                        case 0:
                            pushHide();
                            formShow();
                            parkingShow();
                            break;
                        case 1:
                            pushHide();
                            parkingHide();
                            formShow();
                            break;
                        case 2:
                            pushHide();
                            parkingHide();
                            formShow();
                            break;
                            //etc...
                        case 5:
                            formHide();
                            pushShow();
                        default:
                            formHide();
                            break;
                    }
                });
            })
        </script>
    </head>

    <body>
    <div id="header">
        <!--Adds the header to the document-->
        {% include 'header.html' %}
    </div>

    <div id="divformregister">
        <form name="register" id="form1register" method="POST" action="">
            <div id="signform">
                {% if errors %}
                    <div class="alert alert-danger">
                        {{ errors }}
                    </div>
                {% endif %}
                <h2> Report Citation </h2>
                <b class="error"> * required Field. </b>
                <br/>
                {% if errors %}
                    <div class="alert alert-danger">
                        {{ errors }}
                    </div>
                {% endif %}
                <p> Violation Type:</p>
                <select class="boxItem" name="cmbMoreFunction">
                    <option value="5" id="other3"></option>
                    <option value="0" id="park">Parking</option>
                    <option value="1" id="other">Smoking</option>
                    <option value="2" id="other2">Other</option>
                </select>

                <div id="hideForm">
                    <p>Date:
                        <br/>
                        <input type="date" name="date">
                        <br/>
                        <!--comment-->
                    <p>Time:
                        <br/>
                        <input type="time" name="time">
                        <br/>

                    <p>Violator Name:</p>
                    {% if user != [] %}
                        <input type="text" name="name" maxlength=16" value="{{ user['Name'] }}"></input>
                    {% else %}
                        <input type="text" name="name" maxlength="16"> </input>
                    {% endif %}

                    <b class="error"> *</b><span id="email1" class="error"> </span><!--Display Error Message in line-->

                    <p> Violation Description:</p>
                    <!DOCTYPE html>
                    <head>
                        <script src="http://code.jquery.com/jquery-1.5.js"></script>
                        <script>
                            function countChar(val) {
                                var len = val.value.length;
                                if (len >= 500) {
                                    val.value = val.value.substring(0, 500);
                                    $('#charNum').text('You have reached the limit.');
                                } else {
                                    $('#charNum').text(500 - len + ' characters remaining.');
                                }
                            }
                        </script>
                    </head>

                    <body>
                    <textarea id="field" rows="10" cols="50" maxlength="500" onkeyup="countChar(this)"
                              name="description"></textarea>
                    <div id="charNum"></div>
                    </body>
                    <br/>
                    <p>Place on Campus:</p>
                    <input type="text" name="location" maxlength="20"> </input>

                    <p> Violator Department:</p>
                    <select class="departmentBoxItem" name="department">
                        {% if user == [] %}
                            <option value="8" id="other3" selected></option>
                            <option value="9" id="Science and Engineering">Science and Engineering</option>
                            <option value="10" id="Law">Law</option>
                            <option value="11" id="Health">Health</option>
                            <option value="12" id="Creative Industries">Creative Industries</option>
                            <option value="13" id="Business">Business</option>
                            <option value="14" id="Research">Research</option>
                            <option value="15" id="Admin">Administration</option>
                        {% elif user['Department'] == "Science and Engineering" %}
                            <option value="8" id="other3"></option>
                            <option value="9" id="Science and Engineering" selected>Science and Engineering</option>
                            <option value="10" id="Law">Law</option>
                            <option value="11" id="Health">Health</option>
                            <option value="12" id="Creative Industries">Creative Industries</option>
                            <option value="13" id="Business">Business</option>
                            <option value="14" id="Research">Research</option>
                            <option value="15" id="Admin">Administration</option>
                        {% elif user['Department'] == "Law" %}
                            <option value="8" id="other3"></option>
                            <option value="9" id="Science and Engineering">Science and Engineering</option>
                            <option value="10" id="Law" selected>Law</option>
                            <option value="11" id="Health">Health</option>
                            <option value="12" id="Creative Industries">Creative Industries</option>
                            <option value="13" id="Business">Business</option>
                            <option value="14" id="Research">Research</option>
                            <option value="15" id="Admin">Administration</option>
                        {% elif user['Department'] == "Health" %}
                            <option value="8" id="other3"></option>
                            <option value="9" id="Science and Engineering">Science and Engineering</option>
                            <option value="10" id="Law">Law</option>
                            <option value="11" id="Health" selected>Health</option>
                            <option value="12" id="Creative Industries">Creative Industries</option>
                            <option value="13" id="Business">Business</option>
                            <option value="14" id="Research">Research</option>
                            <option value="15" id="Admin">Administration</option>
                        {% elif user['Department'] == "Creative Industries" %}
                            <option value="8" id="other3"></option>
                            <option value="9" id="Science and Engineering">Science and Engineering</option>
                            <option value="10" id="Law">Law</option>
                            <option value="11" id="Health">Health</option>
                            <option value="12" id="Creative Industries" selected>Creative Industries</option>
                            <option value="13" id="Business">Business</option>
                            <option value="14" id="Research">Research</option>
                            <option value="15" id="Admin">Administration</option>
                        {% elif user['Department'] == "Business" %}
                            <option value="8" id="other3"></option>
                            <option value="9" id="Science and Engineering">Science and Engineering</option>
                            <option value="10" id="Law">Law</option>
                            <option value="11" id="Health">Health</option>
                            <option value="12" id="Creative Industries">Creative Industries</option>
                            <option value="13" id="Business" selected>Business</option>
                            <option value="14" id="Research">Research</option>
                            <option value="15" id="Admin">Administration</option>
                        {% elif user['Department'] == "Research" %}
                            <option value="8" id="other3"></option>
                            <option value="9" id="Science and Engineering">Science and Engineering</option>
                            <option value="10" id="Law">Law</option>
                            <option value="11" id="Health">Health</option>
                            <option value="12" id="Creative Industries">Creative Industries</option>
                            <option value="13" id="Business">Business</option>
                            <option value="14" id="Research" selected>Research</option>
                            <option value="15" id="Admin">Administration</option>
                        {% elif user['Department'] == "Admin" %}
                            <option value="8" id="other3"></option>
                            <option value="9" id="Science and Engineering">Science and Engineering</option>
                            <option value="10" id="Law">Law</option>
                            <option value="11" id="Health">Health</option>
                            <option value="12" id="Creative Industries">Creative Industries</option>
                            <option value="13" id="Business">Business</option>
                            <option value="14" id="Research">Research</option>
                            <option value="15" id="Admin" selected>Administration</option>
                        {% else %}
                            <option value="8" id="other3" selected></option>
                            <option value="9" id="Science and Engineering">Science and Engineering</option>
                            <option value="10" id="Law">Law</option>
                            <option value="11" id="Health">Health</option>
                            <option value="12" id="Creative Industries">Creative Industries</option>
                            <option value="13" id="Business">Business</option>
                            <option value="14" id="Research">Research</option>
                            <option value="15" id="Admin">Administration</option>
                        {% endif %}
                    </select>
                    <div class="parking">
                        <p> Permit Number:</p>
                        {% if user != [] %}
                            <input type="text" name="permitNumber" class="parking"
                                   value="{{ user['Permit']['Permit_Number'] }}"></input>
                        {% else %}
                            <input type="number" name="permitNumber" class="parking"> </input>
                        {% endif %}

                        <p> Vehicle Type:</p>
                        <select class="parking" name="VehType">
                            {% if user == [] %}
                                <option value="empty"></option>
                                <option value="Two Wheeler">Two Wheeler</option>
                                <option value="Four Wheeler">Four Wheeler</option>
                                <option value="Other">Other</option>
                            {% elif user['Permit']['Vehicle_Type'] == "Two Wheeler" %}
                                <option value="empty"></option>
                                <option value="Two Wheeler" selected>Two Wheeler</option>
                                <option value="Four Wheeler">Four Wheeler</option>
                                <option value="Other">Other</option>
                            {% elif user['Permit']['Vehicle_Type'] == "Four Wheeler" %}
                                <option value="empty"></option>
                                <option value="Two Wheeler">Two Wheeler</option>
                                <option value="Four Wheeler" selected>Four Wheeler</option>
                                <option value="Other">Other</option>
                            {% else %}
                                <option value="empty"></option>
                                <option value="Two Wheeler">Two Wheeler</option>
                                <option value="Four Wheeler">Four Wheeler</option>
                                <option value="Other" selected>Other</option>
                            {% endif %}
                        </select>

                        <p> Vehicle License Number:</p>
                        <input type="text" name="license" maxlength="6" id="license" class="parking" onblur="checkEmail()">
                        <!--on blur run local validation and post back to itself for server side validation-->
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <input type="Submit" name="Submit1" value="Submit Report">
                </div>
                <script type="text/javascript">
                    $("#hideForm").hide();
                </script>
            </div>
        </form>
    </div>
    <div class="push"></div> <!--keeps footer at the bottom -->
    <footer>
        <!--Adds the footer to the document-->
        {% include 'footer.html' %}
    </footer>
    </body>
</html>
